.App {
  text-align: center;
}
.textbtn {
  height: 60px;
  width: 450px;
  background-color: #948f8f;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: italic;
  line-height: 28px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
}

.button {
  height: 60px;
  width: 455px;
  color: #fff;
  background-color: rgb(11, 236, 41);
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  border-radius: 8px;
}

ul {
  padding: 3px;
  display: block;
  border: none;
}

.element {
  height: 60px;
  width: 613px;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin: auto;
  float: left;
  border-radius: 8px;
}

.one {
  height: 60px;
  width: 613px;
  border-radius: 8px;
  background-color: #ff5f58;
}

.blue {
  height: 60px;
  width: 613px;
  border-radius: 8px;
  background-color: #39f;
}
.container {
  display: flex;
  margin: 160px 337px 780px;
}
